.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}

body.dark-mode .card {
  background-color: #000;
}

body.dark-mode .btn {
  border-color: #444;
}

.btn-info {
  background-color: #0dcaf0;
  color: #1d93ab;
}

.btn {
  display: inline-block;
  /* width: 100%; */
  height: 38px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 4px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-color: #0d6efd;
  color: #0d6efd;
}

.btn:hover,
.btn:active {
  box-shadow: 0 0 10px 3px rgba(13, 110, 253, 0.4); /* 向四周扩散的模糊阴影，rgba 最后一位是透明度 */
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border: #0d6efd;
}
/*  */
#graph-controls {
  margin-right: 4px;
  padding-right: 10px;
  padding-left: 6px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e5e7eb;
  z-index: 20;
}
#graph-controls .btn {
  margin-top: calc(100vh / 12);
}
/* settings */

.setting-group {
  margin-bottom: 12px;
  min-width: 200px;
}
.form-range {
  width: 100%;
  height: 1.5rem;
  padding: 0;
  background: transparent;
}
.value-display {
  display: inline-block;
  min-width: 40px;
  text-align: center;
}
.btn-success {
  color: #fff;
  background-color: #198754;
  border: 1px solid #198754;
}
.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-theme {
  color: #fff;
  background-color: #0d6efd;
}
body.dark-mode .btn-theme {
  color: #fff;
  background-color: #0d6efd;
}
/* select node*/
.form-select {
  display: block;
  /* width: 100%; */
  height: 38px;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  appearance: none;
}
/* .form-select option {
  display: block;
  height: 38px;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
} */

/* graph */
.card-body {
  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h5 {
  display: block;
  font-size: 20px;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

i,span,label {
  font-size: 16px;
  font-weight: 600;
}

#stats-container {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #212529;
  border-radius: 20px;
}

#physics-settings-container {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #212529;
  border-radius: 20px;
}
#filter-menu-container {
  background-color: #f8f9fa;
  border-color: #ddd;
  color: #212529;
  border-radius: 20px;
}

/*  */
select option {
  /* 选项默认样式 */
  padding: 10px 12px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
}

/* 3. 选项 hover 状态（鼠标悬浮时） */
select option:hover {
  background-color: #f5f7fa;
  /* 悬浮背景色 */
  color: #1890ff;
  /* 悬浮文字颜色 */
}

select option:checked {
  background-color: #e6f7ff;
  color: #1890ff;
}

select option:disabled {
  color: #ccc;
  background-color: #fafafa;
}

body.dark-mode select{
  color: #fff;
  background-color: #2d2d2d;
}

body.dark-mode #stats-container,
body.dark-mode #physics-settings-container,
body.dark-mode #filter-menu-container {
  background-color: #2d2d2d;
  border-color: #444;
  color: #fff;
}

#my-network {
  width: 100%;
  height: 100vh;
}